<form [ngFormModel]="form" (ngSubmit)="changePassword()" action="">

    <div>
        <label for="currentPassword">Current Password</label>
        <input type="text" class="form-control" id="currentPassword" ngControl="currentPassword" required>
    </div>
    <div *ngIf="form.controls['currentPassword'].errors && form.controls['currentPassword'].touched">
        <div *ngIf="form.controls['currentPassword'].errors.required" class="alert alert-danger">
            The current password value is required.
        </div>
        <div *ngIf="form.controls['currentPassword'].errors.validCurrentPassword" class="alert alert-danger">Current password is incorrect.</div>
    </div>

    <div>
        <label for="newPassword">New Password</label>
        <input type="text" class="form-control" id="newPassword" ngControl="newPassword" required minlength="5">
    </div>
    <div *ngIf="form.controls['newPassword'].errors && form.controls['newPassword'].touched">
        <div *ngIf="form.controls['newPassword'].errors.required" class="alert alert-danger">
            The new password value is required.
        </div>
        <div *ngIf="form.controls['newPassword'].errors.minlength" class="alert alert-danger">
            The password length must be >= {{ form.controls['newPassword'].errors.minlength.requiredLength }}.
        </div>
    </div>

    <div>
        <label for="confirmPassword">Confirm Password</label>
        <input type="text" class="form-control" id="confirmPassword" ngControl="confirmPassword" required>
    </div>
    <div *ngIf="form.pending">Checking compatibility.</div>
    <div *ngIf="form.controls['confirmPassword'].errors && form.controls['confirmPassword'].touched">
        <div *ngIf="form.controls['confirmPassword'].errors.required" class="alert alert-danger">
            The confirmed password value is required.
        </div>
    </div>
    <div *ngIf="form.errors && form.controls['confirmPassword'].touched && form.errors.passwordCompatibility" class="alert alert-danger">
        The confirmed password is incorrect.
    </div>

    <br/><br/>
    <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Change Password</button>
</form>